@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Bitter:ital,wght@0,400;0,700;1,400&family=Oleo+Script:wght@400;700&family=Sacramento&display=swap');
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100%;
}

.logo-name {
    font-family: 'Sacramento', cursive;
    position: absolute;
    left: 25px;
    top: 20px;
    color: white;
    font-size: 56px
}

.img-div {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    height: 100vh;
    z-index: -5455;
}

.logo {
    z-index: 9999;
}

.navbar {
    font-family: 'Archivo Narrow', sans-serif;
    ;
}