@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Bitter:ital,wght@0,400;0,700;1,400&family=Oleo+Script:wght@400;700&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Patua+One&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.background {
    margin-top: -10px;
    width: 100%;
    min-height: 100vh;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.main {
    display: flex;
    flex: 8;
}

.main-title {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: white;
}

.main-title p {
    -webkit-text-stroke: 0.2px black;
    margin: 0px 55px;
    font-size: 56px;
    font-family: 'Patua One', cursive;
    color: white
}

.logo-name {
    font-family: 'Sacramento', cursive;
    position: absolute;
    left: 175px;
    top: 30px;
    color: white;
    font-size: 48px;
    cursor: pointer;
    transition: 0.3s;
}

.logo-name:hover {
    color: #afafaf
}

.img-div {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100%;
    min-width: 1000px;
    z-index: -5455;
}

.logo {
    position: absolute;
    left: 35px;
    top: 10px;
    z-index: 9999;
    cursor: pointer;
    margin-top: 10px;
    transition: all .3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    position: absolute;
    top: 35px;
    right: 75px;
    width: 500px;
    font-size: 18px;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: 'Archivo Narrow', sans-serif;
    ;
}

.nav-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    font-weight: 500;
    border: solid 3px white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-contact:hover {
    border: solid 3px darkgoldenrod;
    color: darkgoldenrod
}

.navbar p {
    cursor: pointer;
    transition: 0.3s;
}

.navbar p:hover {
    color: darkgoldenrod;
}

.home-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Oleo Script', cursive;
    color: white;
    font-size: 56px;
}

.left {
    margin-left: 50px;
}

.right {
    margin-right: 50px;
}

@media only screen and (max-width: 1200px) {
    .logo-name {
        display: none
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}